.signUpBody {
    background: linear-gradient(to right, rgba(0,0,0,0), rgba(0,0,0,0.4)), url("https://images.pexels.com/photos/3305/numbers-money-calculating-calculation.jpg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") no-repeat center fixed;
    background-size: cover;
    height: 100vh;
}

.signup {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    border-radius: 5px;
}